@CHARSET "ISO-8859-1";

body{
	background-color: #fafafa;
}

.color{
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	color: white !important;
	font-family: lato;
}

.div-box{
    background-color: #FFF;
    padding: 8px;
    border: 1px solid #DDD;
}

.horizontal{
	display: flex !important;  
	
}


.icon{
	size: 20px !important;
}


@media screen and (min-width: 450px){
	
	.divHorizontal{
	    display: -webkit-flex; /* Safari */
	    -webkit-justify-content: space-around; /* Safari 6.1+ */
	    display: flex;
	    justify-content: space-around;
	}
	
}


.footer{
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	text-align: center;
	height: 100px !important;
}


.inutile{
	display: inline;
}

.recPsw{
	color:#2370c5;
}

.recPsw:hover{
	cursor:pointer;	
	color:#154579;
	text-decoration:underline;
	
}

#log{
	color:#2370c5;
}

#log:hover{
	cursor:pointer;	
	color:#154579;
	text-decoration:underline;
}

.form-control{
	width: 80% !important;
}


.container{
	width: 100% !important;
}

.hide{
	display:none;
}


.input-length{
	width: 33% !important;
}

.left-side{
	padding-left: 88%;
}

.distance{
	width: 250px;
}

.but{
	border: 0px !important; 
	background-color: transparent !important;
}


.screen{
	
}

.naviBar{
		display: none !important;
		
}

.text-color{
	color: white !important;
}

.tarDiv{
	display: none !important;
}

.display-block{
	display: inline !important;
}


.row-374{
    margin-top:40px;
   
    padding: 0 10px;
}

.clickable{
	    cursor: pointer;   
}

.panel-heading div {
	margin-top: -18px;
	font-size: 15px;
}
.panel-heading div span{
	margin-left:5px;
}
.panel-body{
	display: none;
}


.container-table{
	padding: 0px; 
	margin-bottom: 40px;
}


@media only screen and (max-width: 1060px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}

.menu-text{
	color : white !important;
}


.center {
    margin: 0 auto;
    width: 70%;
}